﻿<div uib-alert ng-repeat="alert in alerts" ng-class="'alert alert-' + (alert.type || 'warning')">
    {{alert.msg}}
    <!--<a ng-click="closeAlert($index)" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
</div>
