﻿<li class="list-group-item" ng-class="IsContains(user.Roles,'admin') ? 'user_is_admin' : ''">
    <div class="container row">
        <div class="col-xs-1">
            <h4>{{$index + 1 + pageSize * currentPage}}</h4>
        </div>
        <div class="col-xs-7">
            <h4 class="list-group-item-heading">{{user.UserName}}</h4>
            <p class="list-group-item-text">{{user.Email}}</p>
            <small>{{user.Id}}</small>
        </div>
        <div class="dropdown col-xs-4">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Roles
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                    <ul>
                        <li ng-repeat="role in user.Roles" ng-model="role"><strong>{{role.Name}}</strong></li>
                    </ul>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <!--<a ng-click="ShowRolesManagerView()">Управление ролями</a>-->
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#RolesManagerModal" ng-click="ShowRolesManagerView(user)">Управление ролями</button>
                </li>
            </ul>
        </div>
    </div>
</li>

