﻿<h3>Users manager</h3>
<div>
    <div class="btn btn-default" ng-click="getSimpleValues()" ng-class="loader ? 'loader-self': ''">Get simple values</div>
    <div class="btn btn-default" ng-click="getUsersList()" ng-class="loader ? 'loader-self': ''">Get users list</div>
    <hr />
    <div class="justify">
        <input ng-model="q" id="search" class="form-control" placeholder="Filter text" ng-change="currentPage=0">
        <select ng-model="pageSize" id="pageSize" class="form-control" ng-change="currentPage=0">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>

    <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=0">
        First
    </button>
    <button class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage-1">
        Previous
    </button>
    {{currentPage+1}} / {{numberOfPages()}}
    <button class="btn btn-default" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
    <button class="btn btn-default" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage = getData().length/pageSize - 1">
        Last
    </button>
   
    <ul class="list-group">
        <user-info user="user" ng-repeat="user in usersList | filter:q | startFrom:currentPage*pageSize | limitTo:pageSize" ng-model="user">{{user}}</user-info>
    </ul>
    <!-- Roles Manager Modal -->
    <div id="RolesManagerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" ng-model="selectedUser">Роли для <strong>{{selectedUser.UserName}}</strong></h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li ng-repeat="role in userRolesManagerList" ng-model="role" class="list-group-item">
                            <div class="justify-between">
                                <h4>{{role.Name}}</h4>
                                <div ng-if="role.IsContains == true"><button type="button" class="btn btn-danger" ng-click="RemoveRoleInUser(selectedUser, role)">убрать роль</button></div>
                                <div ng-if="role.IsContains == false"><button type="button" class="btn btn-success" ng-click="AddRoleInUser(selectedUser, role)">добавить роль</button></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
