﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>
<body ng-app="usersApp" ng-controller="globalCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div data-tilt class="parent_tilt">
                    @Html.ActionLink("Web api MSR Client", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                <div class="user_link">
                    <div ng-show="isLogin" >
                        <span class="user_name" ng-bind="name"></span>
                        <a href="#!/changepassword" class="btn btn-default glyphicon glyphicon-cog user_settings"></a>
                        <a href="#" class="btn btn-default" ng-click="Logout()">Log off</a>
                    </div>
                    <div ng-hide="isLogin" >
                        <a href="/" class="btn btn-default">Login</a>
                        <a href="#!/registration" class="btn btn-default">Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tilt")
    @Scripts.Render("~/bundles/notify")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular/UsersApp")
        @RenderSection("scripts", required: false)
        
</body>
</html>
